$cardWidth: 200px;

.catalog {
  display: grid;
  grid-template-columns: repeat(4, $cardWidth);
  gap: 48px;

  justify-content: center;

  @media (max-width: 1023px) {
    grid-template-columns: repeat(3, $cardWidth);
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(2, $cardWidth);
  }

  @media (max-width: 487px) {
    grid-template-columns: repeat(1, $cardWidth);
  }

  &__card {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

}
